body{
    background-color: #EAF6F6;
}
hr{
    border-style:none;
    height: 2px;
    width:5%;
    border-top: 5px dotted lightgray;
}
img{
    height: 200px;
    width: 200px;
}
h1{
    color: #66BFBF;
}
h3{
    color:#66BFBF;
}